<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smartiiz Remote Environement </title>
</head>
<body>
        <div style="text-align: center;">
                <h1>Régles</h1><br>
            Afin de distinguer les mots dans un identificateur, il faut y mettre en majuscule la première lettre de chaque mot. N’utilisez pas de traits de soulignement pour différencier des mots, ni ailleurs à cette fin dans les identificateurs. Il existe deux façons appropriées d’utiliser des majuscules pour les identificateurs, en fonction de son utilisation :
            <ul>
                <li>PascalCasing</li>
                <li>casseCamel</li>
            </ul>
            Cela s'applique a tous les éléments excepter les fichiers de configuration. Toujours en JSON<br>
            
            <strong>Respect de la casse</strong>
            <i>
                Les langages qui peuvent s’exécuter sur le CLR n’ont pas l’obligation de prendre en charge le respect de la casse, bien que certains le fassent. Même si votre langage le prend en charge, d'autres langages qui pourraient accéder à votre framework ne le font pas. Les API qui sont accessibles de l'extérieur ne peuvent donc pas se fier uniquement à la casse pour distinguer deux noms dans le même contexte.
                X NE SUPPOSEZ PAS que tous les langages de programmation respectent la casse. Ce n’est pas le cas. Les noms ne peuvent pas différer seulement par la casse. 
            </i>      
        </div>
</body>
</html>
